<h1 id="hello_world">Шелковский Андрей Александрович</h1>
<html>
 
 <body>
  <table   cellpadding="5" valign="top" >
   <tr>
   
     <th><%= link_to(image_tag('1.jpg'), root_url) -%></th>
    <th> 
      <div class="hrefs">
  <p><a href='<%= root_url %>'>Обо мне</a>
</p>
  <p><a href='<%= root_url %>'>Мои работы</a></p>
  <p><a href='<%= root_url %>'>Сделать заказ</a></p>
  <p><a href='<%= root_url %>'>Контакты</a></p>
  
</div>
    </th>
   </tr>
   
 </table>
 </body>
</html>

 

