<h1 >Шелковский Андрей Александрович</h1>
<html>
 
 <body>
  <table   cellpadding="5" valign="top" >
   <tr>
   
     <td><%= link_to(image_tag('1.jpg'), root_url) -%></td>
    <td> 
      <div class="hrefs">
  <p><a href='<%= root_url %>'>Обо мне</a></p>
  <p><a href='<%= root_url %>'>Мои работы</a></p>
  <p><a href='<%= root_url %>'>Сделать заказ</a></p>
  <p><a href='<%= root_url %>'>Контакты</a></p>
  
</div>
    </td>
   </tr>
   
 </table>
 </body>
</html>

 

